<div class=" animate__animated animate__fadeInLeftBig animate__fast">

    <div class="row">
        <p class="titulos textos">/Home/Certificado de forma digital/<strong class="titulos2">Formulario</strong></p>
        <br>
        <h3>Solicitud de {{compras.dispo}}</h3>
        <div class="col">

            <h5>Política:{{compras.politica}}</h5>
            <h5>vegencia:{{compras.anos}}años</h5>

            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-7 ">
                    <h5><strong style="color:#999696 ;">certificado:</strong><strong
                            style="color:#ff4d4d ;">{{costos | currency:'': 'symbol' : '1.0-0' }} </strong>
                    </h5>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 ">
                    <h5><strong> No solicitantes:{{compras.cantidad}}</strong></h5>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" *ngIf="noradicadopedi">
                    <h5> <strong>Radicado:{{noradicadopedi}}</strong></h5>
                </div>
            </div>
        </div>
        <br>

        <div class="contiene2 quitarextos">
            <app-barra></app-barra>

            <br>
            <div class="flujos2 quitarextos ">
             

                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div [class]="validaflujos()"
                             #basica>
                        <p class="lineadetiempo"><span>informacion</span><span> basica</span></p></div>
                        </div>
                    
                        <ng-template [ngIf]="compras.dispo == 'token virtual'">
                        
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
                        <div class="flujosin" #contacto>
                            <p class="lineadetiempo"><span>datos de</span> <span>contacto</span></p>
                        </div>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="compras.dispo == 'token fisico'">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="flujosin" #entrega>
                                <p class="lineadetiempo"><span>datos de</span> <span>entrega</span></p>
                            </div>
                            </div>
                        </ng-template>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="flujosin" #pago>
                                    <p class="lineadetiempo"><span style="padding-top: 10px; padding-bottom:14px ;">pago</span><span></span></p>
                                </div>
                                </div>
                              <hr class="linea">  
                        
                </div>


                <div class="container">
                    <div class="row row-margenes" #margen (window:resize)="onResize($event)">
                    <router-outlet></router-outlet>

                </div>
                
                
            </div>

            </div>
        </div>
    </div>
</div>

<ng-template  [ngIf]="nopedido">

<div role="alert" class="alert alert-light text-center animate__animated animate__fadeIn animate__faster" style="top: 100px;">
    <br>
    <h3>Se creo orden de pedido No {{noradicadopedi}}</h3>
    <p>Se a generado nueva orden de su certificado</p>
    <button type="submit" class="btn btn-primary " (click)="cerrar()">pagar</button>
</div>

</ng-template>

