

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true"  >

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="textomodal lh-1">Estás a un paso de asegurar los envíos digitales de tu compañía.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
                <div class="modal-body">
                    <div class="margen1 animate__animated animate__fadeIn animate__fast">
                    <div class="row">
                        <div class="col iconos">
                    <button                              
                                class="btn btn-primary bolistas"
                                [routerLink]="['/certimail/natural']"
                               ><i class="fa-regular fa-user"></i>&nbsp;persona natural</button>
                            </div>
                            <div class="col iconos">
                    <button  class="btn btn-secondary bolistas"
                            [routerLink]="['/certimail/juridica']"><i class="fa-regular fa-handshake"></i>&nbsp;persona juridica</button>
                </div>
                
                    </div>
                </div>
       
                <router-outlet 
                                ></router-outlet>
            </div>
       



             
           
        </div>
    </div>
</div>

