<div class=" animate__animated animate__fadeInLeftBig animate__faster">

 <div class="row ms-1 mt-3">
    <p class="margenparrafos"><strong>Tipo de identificación:</strong><strong class="titulosintu">Cedula de ciudadania</strong></p>
    <p class="margenparrafos"><strong>Numero de identificación</strong>:<strong class="titulosintu">1073680979</strong></p>
    
    <h6 class="titulosintu">Este certificado este certificado se utilizara deacuerdo a la politica:</h6>
    <h5 class="titulosintu2">Información básica</h5>
    <br>



    <form [formGroup]="formaForm" (ngSubmit)="ngsubmit()">
    <div class="row">
   
   
      <div class="col">
            <label 
            class="form-label">nombres completos</label>
            <input type="text" 
            class="form-control" 
            placeholder="nombres completos"
            formControlName="nombre"
            [class.is-invalid]="camposvalidos('nombre')">
            <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
            *ngIf="camposvalidos('nombre')">nombres invalidos</div>
        </div>
        <div class="col">
        <label 
         class="form-label">apellidos completos</label>
  <input type="text" 
         class="form-control" 
         placeholder=" apellidos completos"
         formControlName="apellido"
         [class.is-invalid]="camposvalidos('apellido')">
         <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
         *ngIf="camposvalidos('apellido')">apellidos invalidos</div>
        </div>

        <div class="mb-3">

            <div class="row">
                <div class="col">
                    <label 
                    class="form-label">correo electronico:</label>
             <input type="text" 
                    class="form-control" 
                    placeholder="correo electronico"
                    formControlName="correo"
                    [class.is-invalid]="camposvalidos('correo')">
                    <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                    *ngIf="camposvalidos('correo')">correo invalido</div>

                </div>
    
            </div>
        
          </div> 

          <div class="mb-3">

            <div class="row">
                <div class="col">
                    <label 
                    class="form-label">correo electronico:</label>
             <input type="text" 
                    class="form-control" 
                    placeholder="correo electronico"
                    formControlName="correo1"
                    [class.is-invalid]="camposvalidos('correo')">
                    <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                    *ngIf="camposvalidos('correo1')">correo invalido</div>

                </div>
    
            </div>
        
          </div>

          <div class="mb-3">

            <div class="form-check">
                <input class="form-check-input" 
                       type="radio"
                       formControlName="documentos">
                <label class="form-check-label">
                    Adjuntar copia de cedula
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" 
                       type="radio"
                       formControlName="copia"
                       >
                <label class="form-check-label">
                    los datos de información personal ? son los mismos  de que los datos de contacto si es así seleccione esta opción
                </label>
              </div>
          </div>

            
        </div>




          <div class="mb-3">
            <button type="submit" 
            class="btn btn-primary" 
           >siguiente</button>
          </div>
        </form>  
  </div>

</div>
    

