<div class="planes animate__animated animate__fadeInRight">

    <div class="row">
        
            <div class="col precios">
                <div class="row ">
                    <h1>Paquetes <br>
                        <strong> Pymes</strong></h1>

                    <div class="col">
                        
                        <h5>10 CORREOS</h5>
                        <h1>$21.430</h1>
                    </div>
                    <div class="col">
                        <h5>80 CORREOS</h5>
                        <h1>$156.400</h1>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <h5>20 CORREOS</h5>
                        <h1>$40.489</h1>
                    </div>
                    <div class="col">
                        <h5>100 CORREOS</h5>
                        <h1>$191.100</h1>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <h5>50 CORREOS</h5>
                        <h1>$99.975</h1>
                    </div>
                    <div class="col">
                        <h5>200 CORREOS</h5>
                        <h1>$369.100</h1>
                    </div>

                </div>

                <hr>
               <h6><i class="fa-solid fa-triangle-exclamation fa-2x icon-menu estilos"></i>Recueda</h6>
               <p>un correo equivale a un destinatario</p>

            </div>

            <div class="col" style="padding-top:9% ;">

                <h2>Tarifas por paquetes desde 10 hasta 200 correos...</h2>
                <p>
                    selecciona el paquete que mas se ajuste a tu necesidad  <span class="titulos" >adquierelo en linea  seleccionado  </span> <span class="titulos2" [routerLink]="['/ingresocert']">aquí.</span>
                </p>

                <p>
                    <span class="titulos">
                    ¿Quieres hacer envíos  de mas de 1000 correos certificados mensuales  <span class="titulos2">contactanos?</span>
                </span>
                </p>
                
            </div>

    </div>
</div>

<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
    Launch demo modal
</a>

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
