<div class="animate__animated animate__fadeIn animate__fast">
<form [formGroup]="formaForm" 
(ngSubmit)="ngsubmit()" id="form1">
<div [class]="validar()" 
role="alert" 
*ngIf="estados">
<i class="fas fa-cog fa-spin  fa-3x icon-menu"></i>
<br>   
<p>validando...</p>
</div>

<!--listas negras alert -->
      <!--listas negras alert -->
      <div role="alert" [class]="negras()" *ngIf="estados2">
       <br>
       <h3>señor usuario</h3>
       <p>En el momento presentamos fallas técnicas , lo invitamos a diligenciar el siguiente formulario
              para que un agente comercial pueda contactar con usted en el menor tiempo posible.
       </p>
       <button type="submit" class="btn btn-primary" (click)="redirecion()">aceptar</button>
</div>


<div class="margen2">
<div class="mb-3">
  <label class="form-label">Tipo de identificación</label>
  <select class="form-select" 
          formControlName="tipo"
          [class.is-invalid]="camposvalidos('tipo')">
      <option class="form-control">Cédula de Ciudadanía</option>
      <option class="form-control">Cédula de Extranjería</option>
      <option class="form-control">Pasaporte</option>

  </select>
  <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
        *ngIf="camposvalidos('tipo')">Tipo de documento inválido</div>
</div>




       <div class="mb-3">
              <label class="form-label">Número de identificación</label>
              <input type="text" 
                     class="form-control" 
                     placeholder="número de identificación"
                     formControlName="numero"
                     [class.is-invalid]="camposvalidos('numero')"
                     >
              <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                    *ngIf="camposvalidos('numero')">identificación invalida</div>
            </div>

            



<div class="mb-3">
       <div class="row">
              <div class="col">
                     <label class="form-label">Nombres</label>
                     <input type="text" 
                            class="form-control" 
                            placeholder="nombres completos"
                            formControlName="nombres"
                            [class.is-invalid]="camposvalidos('nombres')"
                            >
                            <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                            *ngIf="camposvalidos('nombres')">los nombres no son válidos</div>
              </div>

              <div class="col">
                     <label class="form-label">Apellidos</label>
                     <input type="text" 
                     class="form-control" 
                     placeholder="apellidos completos"
                     formControlName="apellidos"
                     [class.is-invalid]="camposvalidos('apellidos')"
                     >
                     <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                     *ngIf="camposvalidos('apellidos')">los apellidos no son válidos</div>
              </div>

       </div>

     

</div>
</div>
<!--[class.is.invalid]="camposvalidos('nombres')">-->
<div class="check">
       <div class="mb-1 form-check">
         <input type="checkbox" 
                class="form-check-input"
                formControlName="terminosp"
                [class.is-invalid]="camposvalidos('terminosp')"
                >
         <label class="form-check-label" 
                (click)="condiciones()">He leído y acepto  <span class="politicas"> Política términos y condiciones.</span>
              </label>
       </div>
       
       <div class="mb-1 form-check">
         <input type="checkbox"
                class="form-check-input"
                formControlName="terminost"
                [class.is-invalid]="camposvalidos('terminost')">
         <label class="form-check-label"
                (click)="condiciones2()"
                 >He leído y acepto  <span class="politicas">Política de Certificación.</span> </label>
       </div>
       
       <div class="mb-1 form-check">
         <input type="checkbox" 
                class="form-check-input"
                formControlName="terminostpro"
                [class.is-invalid]="camposvalidos('terminostpro')">
         <label class="form-check-label" 
                for="exampleCheck1"
                (click)="condiciones1()">He leído y acepto<span class="politicas"> Anexo Sagrilaf</span></label>
       </div>
       </div>

<div class="modal-footer">
<button type="button" 
       class="btn btn-secondary"
       (click)="cerrarmodal()"
>Cancelar</button>
<button type="submit"  
       class="btn btn-primary"
       >Siguiente</button>
</div>
</form>
</div>