<div class="row fondo mb-4">

  <h6 class="mt-4">estado de la solicitud: <span  style="color:#ff4d4d ;">verificacion de pago</span></h6>
  <br>

</div>



<div class="bs-stepper linear">
  <div class="bs-stepper-header" role="tablist">
    <div class="step active carrusel">
      <button class="carrusel">
        <span [class]="documentos()">
          <i class="fa-regular fa-folder-open fa-xl"></i>
        </span>
        <p class="textope mt-2">Radicacion de documentos
          <br>
          <span class="fechas">3/11/2022</span>
        </p>
      </button>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step">
      <button class="carrusel">
        <span  [class]="contacto()">
          <i class="fa-regular fa-credit-card fa-xl"></i>
        </span>
        <p class="textope mt-2">Verificación de pago
          <br>
          <span class="fechas">3/11/2022</span>
        </p>
      </button>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step">
      <button class="carrusel">
        <span class="bordes">
          <i class="fa-solid fa-bars fa-xl"></i>
        </span>
        <br>
        <p class="textope mt-2">Aprobación de solicitud
          <br>
          <span class="fechas">3/11/2022</span>
        </p>
      </button>

    </div>
    <div class="bs-stepper-line"></div>
    <div class="step">
      <button class="carrusel">
        <span class="bordes">
          <i class="fa-regular fa-envelope-open fa-xl"></i>
        </span>
        <br>
        <p class="textope mt-2">Entrega de certificado
          <br>
          <span class="fechas">3/11/2022</span>
        </p>
      </button>

    </div>
  </div>
</div>