
<div class=" animate__animated animate__fadeInLeftBig animate__faster">

    <h5 class="titulosintu2">Datos de  empresa</h5>
  
      <form [formGroup]="formaForm" 
            (ngSubmit)="ngsubmit()">
          <div class="row">
         
         

              <div class="col">
              <label 
               class="form-label">Razón social</label>
                <input type="text" 
                      class="form-control" 
                      placeholder="razón social"
                      formControlName="razon"
                      [(ngModel)]="empresa.razon"
                      [class.is-invalid]="camposvalidos('razon')"
                   
                      >
               <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
               *ngIf="camposvalidos('razon')">Razon social inválida</div>
               
        
               
              </div>
      
  
  
                  
              </div>
  
  
  
              <div class="mb-3">
  
  
                  <div class="col">
                    <label class="form-label">Dirección completa:</label>
                    <input type="text" 
                            class="form-control" 
                            placeholder="direccion completa" 
                            formControlName="direccionp"
                            [(ngModel)]="empresa.direccionp"
                            [class.is-invalid]="camposvalidos('direccionp')"
                            (keyup)="noPuntoComa($event)"
                            >
                    <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                      *ngIf="camposvalidos('direccionp')">Dirección  inválida</div>
                  </div>
                  <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                  *ngIf="comas">No se admiten comas</div>
         
                </div>

                <div class="row mb-4">
                  <div class="col">
                      <label class="form-label">Departamento</label>
                      <select class="form-select" 
                              formControlName="municipio"
                              [class.is-invalid]="camposvalidos('municipio')"
                              [(ngModel)]="empresa.municipio"
                              placeholder="selecione un departamento">
                                <option *ngFor="let muni of depar" 
                                        [value]="muni.codigo_dep">{{muni.Departamento}}</option>
                                
                    
                      </select>
                      <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                            *ngIf="camposvalidos('municipio')">Departamento inválido</div>
                  </div>
                  <div class="col">
                      <label class="form-label">Municipio</label>
                      <select class="form-select" 
                              formControlName="departamento"
                              [class.is-invalid]="camposvalidos('departamento')"
                              [(ngModel)]="empresa.departamento"
                              placeholder="selecione un municipio">
                              <option class="form-control">Seleccione una opción</option>
                              <option class="form-control" *ngFor="let muni of munifi"
                                                           [value]="muni.Codigo_mu">{{muni.Municipio}}</option>
                   
                    
                      </select>
                      <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                                  *ngIf="camposvalidos('departamento')">Municipio inválido</div>
                  </div>                         
              </div>

  
                <div class="mb-3">
  
                  <label class="form-label mt-3">Teléfono fijo:</label>
                  <div class="row">
        
                    <div class="col">
        
                        <input  class="form-control" 
                                list="browsers" 
                                formControlName="indicativo" 
                                placeholder="indicativo"
                                [(ngModel)]="empresa.indicativo"
                                (change)="verficacion($event)"
                                [class.is-invalid]="camposvalidos('indicativo')"
                                (keyup)="noPuntoComacod($event)"
                        >
                        <datalist id="browsers">
                          <option *ngFor="let d of indicativos"  [value]="d.nomDepartamento" >{{d.nomDepartamento}}</option>
                        </datalist>
                      <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                        *ngIf="camposvalidos('indicativo')">Indicativo inválido</div>
                        <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                        *ngIf="comas">El campo no puede tener decimales</div>
                    
                      </div>
                    
      
                    <div class="col">
        
                      <input type="number" 
                             class="form-control" 
                             placeholder="telefono" 
                             formControlName="telefono"
                             [class.is-invalid]="camposvalidos('telefono')"
                            #datos2
                            [(ngModel)]="empresa.telefono"
                            value="{datos.toString()}"
                            (keyup)="quitarceros2(datos2.value)"
                            (keyup)="noPuntote($event)"
                             >
                      <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                        *ngIf="camposvalidos('telefono')">Teléfono inválido</div>
                        <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                        *ngIf="comastel2">El campo no puede tener comas</div>
                      
                    </div>
                    <div class="col">
                      <input type="number" 
                             class="form-control" 
                             placeholder="extension" 
                             formControlName="extenxion"
                             [class.is-invalid]="camposvalidos('extenxion')"
                             #datos3
                             [(ngModel)]="empresa.extenxion"
                             value="{datos3.toString()}"
                             (keyup)="quitarceros3(datos3.value)"
                             (keyup)="noPuntoex($event)">
                      <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                        *ngIf="camposvalidos('extenxion')">Extension inválido</div>
                        <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                        *ngIf="comastex">El campo no puede tener comas</div>
                    </div>
      
                  </div>
                    
                </div>
  
                <div class="mb-3">
  
                  <label class="form-label">Celular:</label>
                  <input type="number" class="form-control" 
                         placeholder="celular" 
                         formControlName="celular"
                        [class.is-invalid]="camposvalidos('celular')"
                        #datos4
                        [(ngModel)]="empresa.celular"
                        value="{datos4.toString()}"
                        (keyup)="quitarceros4(datos4.value)"
                        (keyup)="noPuntotel($event)"
                        >
                  <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                    *ngIf="camposvalidos('celular')">Celular inválido</div>
                  
                  <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                    *ngIf="comastel">El campo no puede tener comas</div>
        
        
        
                </div>
  
                <div class="mb-3">
  
  
                  <div class="col">
                    <label class="form-label">Correo electronico:</label>
                    <input type="text" 
                            class="form-control" 
                            placeholder="correo electronico" 
                            formControlName="correo"
                            [(ngModel)]="empresa.correo"
                            [class.is-invalid]="camposvalidos('correo')">
                    <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                      *ngIf="camposvalidos('correo')">Correo inválido</div>
          
          
          
                  </div>
          
                </div>
  
                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Siguiente</button>
                    
                  </div>
              </form>  
  
  </div>