
<div class="marco">
<h6>linea de atencion al cliente   &nbsp; <i class="fa-solid fa-square-phone  fa-1x icon-menu"></i> (601)7442727 opción 2</h6>    
</div>
<footer class="pt-4 my-md-0 pt-md-5 border-top foter">
    <div class="row">
     
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
            <h6>Productos</h6>
            <ul class="list-unstyled text-small">
              <li><a class="lista" routerLink="/quien">Firmas digitales</a></li>
              <li><a class="lista" routerLink="/quien">Firmas electronicas biometria</a></li>
              <li><a class="lista"  routerLink="/infra">Seguridad en redes de datos</a></li>
              <li><a class="lista" routerLink="/contacto">Gestion documental electronica</a></li>
            </ul>
          </div>
    
      <div class="col-lg-3  col-md-3  col-sm-6 col-xs-12">
        <h6>Soporte</h6>
        <ul class="list-unstyled text-small">
          <li><a class="lista" routerLink="/quien">Preguntas frecuentes</a></li>
          <li><a class="lista" routerLink="/quien">Centro de descargas</a></li>
          <li><a class="lista"  routerLink="/infra">Canales de atencion</a></li>
          <li><a class="lista" routerLink="/contacto">Sistema  de PORSAF </a></li>
        </ul>
      </div>


      <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
        <h6>Empresa</h6>
        <ul class="list-unstyled text-small">
          <li><a class="lista" href="#">Nosotros</a></li>
          <li><a class="lista" href="#">Trabaja con nosotros</a></li>
          <li><a class="lista" href="#">Noticias</a></li>
          <li><a class="lista" href="#">Contactanos</a></li>
        </ul>
      </div>


      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <ul class="list-unstyled text-small">
          <li><img src="../../../assets/logo_certicamara.png" class="logo"></li>
          <li><a class="lista" routerLink="/quien"> Subscribe a nuestro boletín no <br> te pierdas nada </a></li>
          <li>
            <div class="input-group mb-3">
                <input type="text" 
                        class="form-control" 
                        placeholder="correo electronico">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">  <i class="fa fa-arrow-right"></i></button>
              </div>
              
        </li>
        </ul>
      </div>


    </div>

    <div        class="row elementos" 
                (window:resize)="onResize($event)"
               >
              
        <!--  <div  [class]="(tamano <= 867) ? 'col-lg-2 col-md-3 col-sm-6 col-xs-6': 'margen'">-->
        <div  [class]="validar()">
            <ul class="list-unstyled text-small">
                <li><a class="lista2" routerLink="/quien"></a></li>
            </ul>

        </div>

        <div [class]="validar()">
            <ul class="list-unstyled text-small">
                <li><a class="lista2" routerLink="/quien">Marco legal</a></li>
            </ul>

        </div>

        <div [class]="validar()">
            <ul class="list-unstyled text-small">
                <li><a class="lista2" routerLink="/quien">Mapa de sitio</a></li>
            </ul>
        </div>


        <div [class]="validar()">
            <ul class="list-unstyled text-small">
                <li><a class="lista2" routerLink="/quien">Marca</a></li>
            </ul>            
        </div>


        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <ul class="list-unstyled text-small">
                <li><a class="lista2" routerLink="/quien"> 
                    <i class="fa-brands fa-whatsapp  fa-2x icon-menu redes"></i> 
                    <i class="fa-brands fa-facebook  fa-2x icon-menu redes"></i>
                    <i class="fa-brands fa-square-twitter   fa-2x icon-menu redes"></i>
                </a></li>
            </ul>            
        </div>

    </div>
    <hr>
    <div class="row elementos">
      
        <div class="col-lg-3">
            <ul class="list-unstyled text-small">
                <li><a class="lista2" routerLink="/quien">Terminos y condiciones de uso</a></li>
            </ul>            
        </div>

        <div class="col-lg-3">
            <ul class="list-unstyled text-small">
                <li><a class="lista2" routerLink="/quien">Politicas Organizacionales</a></li>
            </ul>            
        </div>


        <div class="col-lg-3">
            <ul class="list-unstyled text-small">
                <li><a class="lista2" routerLink="/quien">@Certicamara, 2022</a></li>
            </ul>            
        </div>



    </div>
  </footer>