<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" >
    <label class="form-check-label" for="flexRadioDefault1">
      Default radio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault"  checked>
    <label class="form-check-label" for="flexRadioDefault2">
      Default checked radio
    </label>
  </div>


  <div class="radios">
    <label>
       <input type="radio" name="permisos" value="1" id="cv">
       ver
     <label>
     <label>
       <input type="radio" name="permisos" value="2" id="ca">
       ver todos
     </label>
   
                         
 