<!--implementacion modal preguntas de caracterizacion-->
<div class="modal fade animate__animated animate__fadeIn animate__fast" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" id="ssps1">

    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="textomodal textomodal">¡Empieza tu camino hacia tu firma digital!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">



                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
                    data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="margenuni animate__animated animate__fadeIn animate__fast">
                                <h4 class="lh-1 text-center textomodal2">Preguntas de caracterización</h4>

                                <table class="table mt-4">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col">SI</th>
                                            <th scope="col">NO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pre of listadop">
                                            <th scope="row"><i class="fa-solid fa-angle-right"
                                                    style="color:#ff4d4d;"></i></th>
                                            <td>{{pre.pregunta}}</td>
                                            <td> <input class="form-check-input mt-0" type="checkbox" [value]="pre.id" [checked]="" (change)="radios($event)" ></td>
                                            <td> <input class="form-check-input mt-0" type="checkbox" ></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="margenuni animate__animated animate__fadeIn animate__fast">
                                <h4 class="textomodal lh-1" style="color:#999696 ;">Productos</h4>

                                <p class="lh-1"><small>La opción de persona natural permite solicitar certificados de firma digital a titulo personal , aquí podrá solicitar certificados para personas natural o solicitar el certificado profesional para solicitantes. </small></p>
                                <h4 class="textomodal lh-1 text-center" style="color:#999696 ;">Su historial de compra
                                    es</h4>
                                <table class="table mt-4">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fecha de compra</th>
                                            <th scope="col">Tipo de certificado comprado</th>
                                            <th scope="col">Política</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let histo of compras">

                                            <td>{{histo.fecha}}</td>
                                            <td>{{histo.tipo}}</td>
                                            <td>{{histo.politica}}</td>

                                        </tr>
                                       


                                    </tbody>
                                </table>
                                <h4 class="textomodal lh-1 text-center" style="color:#999696 ;">Políticas sugeridas</h4>
                                <br>
                                <form [formGroup]="formaForm">
                                    <div class="row">
                                       
                                        <div class="col-lg-6" 
                                            *ngFor="let poli of directiva;">


                                            <div class="mb-1 form-check">
                                                <input type="radio"
                                            
                                                       class="form-check-input" 
                                                       [value]='poli.id'
                                                       formControlName="checks"
                                                       (change)="politica(poli)"
                                                      >
                                                <label class="form-check-label" 
                                                       for="exampleCheck1">
                                                    <p data-bs-toggle="tooltip" 
                                                       data-bs-placement="top"
                                                        title="{{poli.desciption}}">
                                                        <small>{{poli.politica}}</small>
                                                    </p>

                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                                             *ngIf="camposvalidos('checks')">
                                            <p><small>selecione un solo elemento</small></p>
                                        </div>



                                    </div>
                                </form>
                                      
                     
                            </div>

                        </div>

                        <div class="carousel-item">
                            <div class="margenuni animate__animated animate__fadeIn animate__fast">

                            <p class="lh-1"><small>La opción de persona natural permite solicitar certificados de firma digital a titulo personal , aquí podrá solicitar certificados para personas natural o solicitar el certificado profesional para solicitantes. </small></p>

                                    <h4 class="textomodal lh-1 text-center" style="color:#999696 ;">Tipo de dispositivo</h4>
                                <br>
                                <form [formGroup]="formaForm2" (ngSubmit)="ngsubmit()">
                                    <div class="centrado">
                                        <table>
                                         <tr *ngFor="let pre of preciosd;index as i">
                                            <td> <input type="radio"
                                                class="form-check-input"
                                                value="{{pre.id}}"  
                                                (change)="codigoveri($event,pre.id)"
                                                formControlName="dispositivo"></td>
                                    <td> <img [src]="pre.img"></td>
                                    <td>{{pre.nombre | titlecase }}</td>
                                    <ng-template [ngIf]="this.preciosd[i].estados == true">
                                       <td>
                                        <input type="number" 
                                        class="form-control form-control-sm textop"
                                        placeholder="cantidad"
                                        formControlName="cantidad"
                                        [class.is-invalid]="camposvalidos2('cantidad')"
                                        #datos
                                        [(ngModel)]="quitar"
                                        (keyup)="noPuntoComa($event)"
                                        (keyup)="quitarceros(datos.value)"
                                   
                                        ></td></ng-template>


                                         </tr>
                                          
                                            <tr>
                                        
                                                    <td> <label class="form-label">Vigencia</label></td>
                                                       <td>
                                                        <select class="form-select"
                                                                formControlName="anos"
                                                                  >
                                                               <option class="form-control" 
                                                                       *ngFor="let vige of vigencias" 
                                                                       [value]="vige" >{{vige}}</option>

                            
                                                        </select>
                                                     
                                                    </td>
                               
                                                    
                                                    <td>{{timepo}}</td>

                                            </tr>

                                        </table>

                                    </div>
                                     <!--implementacion de politicas-->
                                     <!--implementacion errores-->

                             
                                               <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                                               *ngIf="camposvalidos2('cantidad')">Solo puede ingresar dos dígitos</div>
                                                <br>
                                    <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                                         *ngIf="comas">El campo no puede tener comas</div>
                                    <h4 class="textomodal lh-1 text-center" style="color:#999696 ;">Políticas sugeridas</h4>
                                    <br>
                                    
                                    <div class="row">
                                       
                                        <div class="col-lg-6" 
>
                                             

                                            <div class="mb-1 form-check" *ngIf="vista">
                                                <input type="radio"
                                            
                                                       class="form-check-input" 
                                                       formControlName="checks2"
                                                       [value]="elementose"
                                                       [(ngModel)]="elementose"
                                                       [attr.disabled]="false"
                                                      >
                                                <label class="form-check-label" 
                                                       for="exampleCheck1">
                                                    <p data-bs-toggle="tooltip" 
                                                       data-bs-placement="top"
                                                       title="{{elementose?.desciption}}">
                                                        <small>{{elementose?.politica}}</small>
                                                    </p>

                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                                             *ngIf="check">
                                            <p><small>Solo puede ingresar dos dígitos</small></p>
                                        </div>
                                        <div class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                                        *ngIf="">
                                       <p><small>Selecione una sola politica</small></p>
                                   </div>

                                    <div class="row">
                                        <br>
                                        <div class="col">
                                            <h4 class="textomodal lh-1 text-center" style="color:#999696 ;">Costo de certificado <strong style="color:#ff4d4d ;">${{resultado  | currency:'CO':''}}</strong></h4>
                                        </div>
                                        <div class="col"></div>
                                    </div>


                                    </div>
                                       
                                    </form>
                                    
                                   
                        </div>
                    </div>

                    <!-- implementacion vista de compra-->
                    <div class="carousel-item #enviar">
                    
                        <div class="margenuni animate__animated animate__fadeIn animate__fast">

                            <p class="lh-1"><small>La opción de persona natural permite solicitar certificados de firma digital a titulo personal , aquí podrá solicitar certificados para personas natural o solicitar el certificado profesional para solicitantes. </small></p>
                            <h4 class="textomodal lh-1 text-center" style="color:#999696 ;">Detalles su solicitud</h4>
                           <div class="row">
                            <div class="centrado">
                            <table *ngIf="show">
                                <tr>
                                    <td><strong>Tipo de dispositivo</strong></td>
                                    <td><i class="fa-solid fa-circle-check estilos"></i></td>
                                    <td>{{usuario.dispo}}</td>                                    <tr>
                                        <tr>
                                            <td><strong>Politica</strong></td>
                                            <td><i class="fa-solid fa-circle-check estilos"></i></td>
                                            <td>{{usuario.politica}}</td>
                                            <tr>
                                                
                                                
                                                <tr *ngIf="usuario.cantidad > 0  ">
                                                    <td><strong>Cantidad</strong></td>
                                                    <td><i class="fa-solid fa-circle-check estilos"></i></td>
                                                    <td>{{usuario.cantidad}}</td>
                                                    <tr>
                                                

                                                        <tr>
                                                            <td><strong>Vigencia</strong></td>
                                                            <td><i class="fa-solid fa-circle-check estilos"></i></td>
                                                            <td>{{usuario.anos}} {{timepo}}</td>
                                                            <tr>
                                                        <tr>
                                                            <td><strong>Costo</strong></td>
                                                            <td><i class="fa-solid fa-circle-check estilos"></i></td>
                                                            <td>${{usuario.costo  | currency:'CO':''}}</td>
                                                            <tr>
                                    </table>  

                                    
                                </div>
                           </div>      
                        </div>
                        
                    </div>

          
                </div>

                 <!--cierre de modal body-->
                 <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary"
                            data-bs-target="#carouselExampleControlsNoTouching"
                            data-bs-slide="prev"
                            (click)="estados2()"
                            [disabled]="anterior"
                            >Anterior</button>
                            

                  <button type="submit" 
                            class="btn btn-primary" 
                            data-bs-target="#carouselExampleControlsNoTouching"
                            data-bs-slide="next"
                            (click)="estados();verifica()"
                            [disabled]="desactiva"
                           >Siguiente</button>



                           

                    
                           
                            
                </div> 

               <!--(click)="estados()" -->
    
            </div>
           

            <!--(click)="cerrarmodal()"-->
          