<div class=" animate__animated animate__fadeInLeftBig animate__faster">

    <div class="row ms-1 mt-3">
       <p class="margenparrafos"><strong>Tipo de identificación:</strong><strong class="titulosintu">Cedula de ciudadania</strong></p>
       <p class="margenparrafos"><strong>Numero de identificación</strong>:<strong class="titulosintu">1073680979</strong></p>
       
       <h6 class="titulosintu">Este certificado este certificado se utilizara deacuerdo a la politica:</h6>
       <h5 class="titulosintu2">Información básica</h5>
       <br>
   
   
   
   
       <div class="row">
   
             <div class="mb-3">
   

                   <div class="col">
                       <label 
                       class="form-label">correo electronico:</label>
                <input type="text" 
                       class="form-control" 
                       placeholder="correo electronico"
                       formControlName="correo"
                       [class.is-invalid]="camposvalidos('correo')">
                       <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                       *ngIf="camposvalidos('correo')">correo invalido</div>
   
   
       
               </div>
           
             </div>
             
             <div class="mb-3">
   

              <div class="col">
                  <label 
                  class="form-label">correo electronico:</label>
           <input type="text" 
                  class="form-control" 
                  placeholder="correo electronico"
                  formControlName="correo"
                  [class.is-invalid]="camposvalidos('correo')">
                  <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                  *ngIf="camposvalidos('correo')">correo invalido</div>


  
          </div>


                <div class="mb-3">

                  <div class="row mt-3">

                    <div class="col">
                      <label 
                      class="form-label">correo electronico:</label>
               <input type="text" 
                      class="form-control" 
                      placeholder="correo electronico"
                      formControlName="correo"
                      [class.is-invalid]="camposvalidos('correo')">
                      <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                      *ngIf="camposvalidos('correo')">correo invalido</div>
                    </div>
                    <div class="col">
                      <label 
                      class="form-label">correo electronico:</label>
               <input type="text" 
                      class="form-control" 
                      placeholder="correo electronico"
                      formControlName="correo"
                      [class.is-invalid]="camposvalidos('correo')">
                      <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                      *ngIf="camposvalidos('correo')">correo invalido</div>
                    </div>
                    <div class="col">
                      <label 
                      class="form-label">correo electronico:</label>
               <input type="text" 
                      class="form-control" 
                      placeholder="correo electronico"
                      formControlName="correo"
                      [class.is-invalid]="camposvalidos('correo')">
                      <div  class="form-text text-danger animate__animated animate__fadeIn animate__fast"
                      *ngIf="camposvalidos('correo')">correo invalido</div>
                    </div>
                  </div>
                </div>
        </div>


               
           </div>
   
   
   
   
             <div class="mb-3">
               <button type="submit" 
               class="btn btn-primary" 
              >siguiente</button>
             </div>
   
     </div>
   
   </div>
           