<p class="titulos">/Home/Servicios/<strong class="titulos2">Certimail</strong></p>
<br>
<div class="row">
    <div class="col">
  <img  src="../../../../assets/demo.PNG" class="img-fluid">
    </div>

    <div class="col">

        <h1>Asegura el envió  <br>
          de tus documentos <br>
          digitales</h1>

     <h4>
          Enviá uno o cientos de correos electrónicos  certificados con tranquilidad de que estos llegan son leídos  por el destinatario 
    </h4>
    <div class="row"></div>
    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">adquierelo aquí</button>&nbsp;
    <button type="button" class="btn btn-secondary">otras consultas</button>

    </div>

    <br>
    <br>
    <h2 class="text-center">Enviamos y notificamos tu documentación 
      <br> mas importante </h2>

</div>
<div class="row">

  <div class="col">.
    <img src="../../../../assets/mujer1.PNG" class="imagenes">
  <!---->  <p class="enunciado lh-1" ><span class="numeros">1</span>prepara correo <br> 
      electrónico</p>
  </div>
  <div class="col">.
    <img src="../../../../assets/mujer2.PNG" class="imagenes">
    <p class="enunciado lh-1"><span class="numeros">3</span>enviá y <br>recibe información </p>
  </div>
  <div class="col">.
    <img src="../../../../assets/mujer3.PNG" class="imagenes">
    <p class="enunciado lh-1"><span class="numeros">5</span>reportes <br>de estado del envio</p>
  </div>
  
    </div>

    <div class="row">
<div class="col">.
  <img src="../../../../assets/mujer4.PNG" class="imagenes">
     <p class="enunciado lh-1"><span class="numeros">4</span> reportes de <br>
                                             estado de envió</p>
</div>
<div class="col">.
  <img src="../../../../assets/mujer5.PNG" class="imagenes">
  <p class="enunciado lh-1"><span class="numeros">5</span>seguimiento de apertura <br>del correo</p>
</div>

</div>

<!--Implementacion de modal validaciones-->
<app-validaciones></app-validaciones>